html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(56deg, $mainCol 56%, $accentCol 56% 62%, $titleCol 62%) no-repeat;
    height: 100vh;
}

body, button {
    font-family: $bodyFont;
    font-weight: $light;
    @include fontSize;
    display: flex;
    align-items: center;
    margin-top: auto;
    @include break(sm) {
        @include fontSize(28)
    }
}

header {
    transform: translateY(0);
    transition: all 1s ease;
    @include break(sm) {
        height: 42%;
    }
}

.generate {
    transform: translateY(-72.5%);
    @include break( med) {
        transform: translateY(-44.5%);
    }
    @include break(sm) {
        transform: translateY(-35%);
    }
    @include break(xs) {
        transform: translateY(-25%);
    }
}

.greeting {
    position: relative;
    top: -30%;
    opacity: 0;
    color: $mainCol;
    letter-spacing: -.045rem;
    flex-basis: 100%;
    margin-bottom: 2.25rem;
    @include break(sm) {
        margin-bottom: unset;
        top: -17%;
    }
}

.greeting.visible, li.visible, p.word.visible, button#refresh.visible, main.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

main {
    position: relative;
    background-color: $white;
    max-width: 1400px;
    width: 63.5%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5% 5% 8.5%;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.2rem rgba(10, 11, 34, 0.2);
    box-shadow: 0 0.4rem 0.2rem rgba(0, 0, 0, 0.383);
    height: 31.3rem;
    opacity: 0;
    @include break(lrg) {
        width: 80%;
        height: 40rem;
        padding: 8.5% 5% 7%;
    } 
    @include break(sm) {
        height: 60%;
        padding: 12% 5% 10%;
    }
    @include break(sm) {
        height: 85%;
        padding: 20% 5% 10%;
    }
}

h1 {
    font-family: $titleFont;
    @include fontSize(83);
    color: $titleCol;
    @include fontSize(88);
    line-height: 5.2rem;
}

h2 {
    text-transform: lowercase;
    @include fontSize(29);
    color: $accentCol;
    letter-spacing: -.045rem;
    line-height: 2.5rem;
    @include break(lrg) {
        @include fontSize(35);
    }
    @include break(sm) {
        margin-top: 7.5%;
    }
}

.generate h2 {
    @include break(sm) {
        transition: all .75s ease-in-out;
        margin-top: 1.5%;
    }
}

button {
    text-transform: uppercase;
    font-weight: $med;
    padding: .96rem 5rem;
    @include fontSize(23);
    margin-top: 8%;
    background-color: $mainCol;
    border: none;
    border-radius: 15rem;
    color: $accentCol;
    box-shadow: 0 0.2rem 0.2rem rgba(184, 184, 209, .8);
    margin-top: 3rem;
    &:hover, &:focus-within {
        background-color: $secondaryCol;
        color: $secondaryAccent;
    }
    @include break(lrg) {
        @include fontSize(32);
        margin-top: auto;
    }
    @include break(sm) {
        @include fontSize(40);
        padding: 1rem 0;
        width: 85%;
        justify-content: center;      
    }
}

ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @include break(sm) {
        flex-flow: column nowrap;
        align-items: stretch;

    }
}

li {
    @include fontSize(45);
    font-weight: $med;
    text-transform: capitalize;
    color: $mainCol;
    letter-spacing: 0.0297rem;
    background-color: $secondaryAccent;
    border-radius: 30rem;
    padding: 1.5% 3%;
    width: 40%;
    min-width: fit-content;
    box-shadow: -1px 4px 2px #B8B8D154;
    white-space: nowrap;
    opacity: 0;
    @include break(sm) {
        width: 100%;
        padding: 1.25rem 0;
    }
}


p.word {
    color: $titleCol;
    @include fontSize(24);
    letter-spacing: 0.0145rem;
    position: relative;
    top: 3px;
    opacity: 0;
    @include break(sm) {
        margin: 5% 0;
        @include fontSize(28);
    }
}

button#refresh {
    position: absolute;
    bottom: 8%;
    opacity: 0;
    margin: 0 auto;
    left: 50%;
    margin-left: -8.6rem;
    @include break(lrg) {
        bottom: 10%;
        margin-left: -10rem;
    }
    @include break(sm) {
        margin-left: -42.5%; 
        bottom: 6.5%; 
    }
}