$titleFont: fenwick-outline, sans-serif;
$bodyFont: fenwick, sans-serif;

$light: 300;
$med: 400;
$bold: 700;

$mainCol: #5B5F97;
$accentCol: #FFC145;
$titleCol: #FF6B6C;
$white: #FFFFFB;
$secondaryCol: #B8B8D1;
$secondaryAccent: #FFE8BB;