$titleFont: fenwick-outline, sans-serif;
$bodyFont: fenwick, sans-serif;

$light: 300;
$med: 400;
$bold: 700;

$mainCol: #293241;
$accentCol: #98C1D9;
$titleCol: #EE6C4D;
$white: #FFFFFB;
$secondaryCol: #3D5A80;
$secondaryAccent: #E0FBFC;

// $mainCol: #3590F3;
// $accentCol: #C2BBF0;
// $titleCol: #62BFED;
// $white: #FFFFFB;
// $secondaryCol: #8FB8ED;
// $secondaryAccent: #F1E3F3;
